
    /* Need to add a background image */
    body {
        background: url("../images/watercolour-1325656_1920.jpg");
        background-blend-mode: lighten;
        width: 80%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        height: 500px;
    }

    p {
        margin-bottom: 15px;
        font-size: 20px;

    }


    h2 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }

    #play-button {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        height:50px;
        width: 50px;
        margin-bottom: 20px; 
    }
    .container {
        height: auto;
        margin: auto;
    }

    h1 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 30px;
    }


    .pic-crystals {
       clear: both;
    }

    .responsive  {
        max-width: 100%;
        height: auto;
        float: left;
    }

    #message {
        margin-top: -10px;

    }
    #sapphire, #garnet, #bloodstone, #amethyst {
        height: 150px;
        width: 150px;
    }

    .random-col-md-6 {
        float: left;
        background-color: white;
        height: 120px;
        width: 140px;
        padding-top: 20px;
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;

    }

    .score-col-md-6 {
        float: left;
        background-color: white;
        height: 120px;
        width: 140px;
        padding-top: 20px;
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;

    }

    /* .score-col-md-6 p {
        z-index: 90;
    } */

    .user-number {
        float: left;
        background-color: white;
        height: 40px;
        width: 60px;
        padding: 20px;
        text-align: center;

    }